.conteudo{
    text-align: center;
    font-size: 30px;
    font-weight: 200;
    color: #395B64;
    font-family: 'Montserrat', sans-serif;
}

.titulo-1{
    padding-left: 50px;
    font-size: 20px;
    font-weight: 600;
    color: #395B64;
    font-family: 'Montserrat', sans-serif;
} 

.horario-item{
    border: 2px solid #395B64;
    border-radius: 20px;
    margin-bottom: 2%;
    padding: 1% 0 1% 0;
    text-align: center;
    margin-left: 5%;
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif

}

.btn-excluirMed{
    background-color: #f1453b !important;
    color: #ffffff !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    border-radius: 50%!important;
    transition: all linear 160ms !important;
    cursor: pointer !important;
    margin: 0 3% 0 0 !important;
    text-align: center !important;
    width: 7% !important;
    padding: 0.5% 0 0.5% 0 !important;
    float: right !important;
    
}


.btn-excluirMed:hover {
    transform: scale(1.05);
    background-color: #f1453b;
    color: #ffffff;

}

.campo{
    padding: 0%;
}

.horarioSalvo{
    width: 40%;
}

