@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;

}

a {
    text-decoration: none;
}

.row {
    --bs-gutter-x: 0;

}


header {
    background-color: #A5C9CA;
    padding: 4% 5%;
}

header>div div:last-child {
    gap: 5%;
}

.titulo {
    margin-right: auto;
    font-size: 30px;
    font-weight: 600;
    color: #395B64;
    font-family: 'Montserrat', sans-serif;

}


::-webkit-input-placeholder {
    color: #A5C9CA;
}


.icone-usuario {
    color: #395B64;
    font-size: 25px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .6s;

}

.icone-usuario:hover {
    font-size: 30px;
    background: #395B64;
    color: #F6F6F6;
    cursor: pointer;
}

.icone-saida {
    color: #395B64;
    font-size: 25px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .6s;
    cursor: pointer;
}

.icone-saida:hover {
    font-size: 30px;
    background: #395B64;
    color: #F6F6F6;
}


main {
    margin: 0 !important;
}

#menu__toggle {
    opacity: 0;
  }
  #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
    background-color: #F6F6F6;
  }
  #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
    background-color: #F6F6F6;
  }
  #menu__toggle:checked ~ .menu {
    left: 0 !important;
  }
  .menu__btn {
    position: relative;
    top: 0px;
    left: 15px;
    width: 26px;
    cursor: pointer;
    z-index: 11;
    color: #395B64;
  }
  .menu__btn > span,
  .menu__btn > span::before{
    display:block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #395B64;
    transition-duration: .25s;
  }
  
  
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #395B64;
    transition-duration: .25s;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  .menu {
    z-index: 10;
    display: block;
    position: relative;
    top: -24px;
    left: -300px;
    width: 300px;
    min-height: 100vh;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #395B64;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
  }
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
  }
  .menu__item:hover {
    background-color: #CFD8DC;
  }


ul {
    padding-left: 0;
}

 .menu ul a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: #F6F6F6;
    font-family: 'Montserrat', sans-serif;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, .1);
    border-bottom: 1px solid black;
    transition: .4s;

}

ul li:hover a {
    padding-left: 50px;
}

.menu ul a i {
    margin-right: 16px;
}


.conteudo {
    text-align: center;
    font-size: 30px;
    font-weight: 200;
    color: #395B64;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
.inicial{
    text-align: center;
    font-size: 20px;
    font-weight: 200;
    color: #527782;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
}

.saudacao{
    text-align: center;
    font-size: 20px;
    font-weight: 200;
    background-color: #395B64;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    margin: 5%;
    
}

.ocultar-graficos{
    display: none;
}

.imginicio{
    border-radius: 5%;
}


.texto_dados_medicos {
    font-size: 17px;
    margin-left: 15px;
}

#humor_formulario {
    margin-top: 50px;
    margin-left: 7px;
}

#atencao_formulario {
    margin-top: 50px;
    margin-left: 7px;
}

#alimentacao_formulario {
    margin-top: 50px;
    margin-left: 7px;
}

#engajamento_formulario {
    margin-top: 50px;
    margin-left: 7px;
}

#tolerancia_formulario {
    margin-top: 50px;
    
}

.btn {
    font-size: 25px;
    color: #F6F6F6;
    background-color: #395B64;
    border-radius: 13px;
    border-style: none;
    margin-top: 25px;
}

.minha-classe {
    text-align: center;
    font-size: 23px;
    font-weight: 200;
    color: #395B64;
    font-family: 'Montserrat', sans-serif;
}

.flexboxGraficos {
    display: flex;
    align-items: center;
    justify-content: center;
}

.chartBox {
    width: 50%;
    padding: 10px;
    min-height: 350px;
    min-width: 240px;

}

footer {
    position: relative;
    bottom: 0;
    left: 0;
    font-family:'Montserrat', sans-serif;
    font-size: 14px;
  }

  #mensagem {
    font-size: 35px;
    font-style: oblique;
    margin-top: 50px;
  }


@media (min-width: 990px) {
    .menu__btn {
        display: none;
    }
    #menu__toggle ~ .menu {
        left: 0 !important;
    }
}
